<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 扫描 所有实体类  赋予别名   -->
    <typeAliases>
        <package name="com.cn.demo.entity"/>
    </typeAliases>

</configuration>

